.idea
target
.DS_Store
*.log
*.log*
*.h2.db
*.lock.db
.metals/
.vscode/
tmp_.json
.bsp
.bloop*/
metals.*
devops/deploy/output*
devops/deploy/kustomize-nodo-cron/*/resources
devops/deploy/kustomize-nodo-dei-pagamenti-cron/*/resources
*_f.txt
output*yaml
akka-diagnostics
lightbend.sbt
/devops/deploy-local/kustomize-nodo-cron/dev/resources/
/helm/Chart.lock
/helm/charts/

.scannerwork
.terraform