<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <conversionRule conversionWord="bundleVersion"
                    converterClass="eu.sia.pagopa.common.util.log.BundleVersionConverter" />

    <property name="CONSOLE_COLOR_LOG_PATTERN" value="%cyan(%d) %highlight(%-5level) %magenta([%X{sessionId}]) %green([%logger]) - %msg %magenta([%X{akkaSource}]%n)"/>

    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">

        <!--        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">-->
        <!--            <providers>-->
        <!--                <message/>-->
        <!--                <nestedField>-->
        <!--                    <fieldName>app</fieldName>-->
        <!--                    <providers>-->
        <!--                        <timestamp>-->
        <!--                            <fieldName>apptimestamp</fieldName>-->
        <!--                        </timestamp>-->
        <!--                        <loggerName/>-->
        <!--                        <threadName/>-->
        <!--                        <logLevel/>-->
        <!--                        <logLevelValue/>-->
        <!--                        <stackTrace/>-->
        <!--                        <mdc/>-->
        <!--                        <tags/>-->
        <!--                        <pattern>-->
        <!--                            <pattern>-->
        <!--                                {-->
        <!--                                "bundleVersion" : "%bundleVersion"-->
        <!--                                }-->
        <!--                            </pattern>-->
        <!--                        </pattern>-->
        <!--                    </providers>-->
        <!--                </nestedField>-->
        <!--            </providers>-->
        <!--        </encoder>-->

        <!--        &lt;!&ndash;-->
        <encoder>
            <pattern>${CONSOLE_COLOR_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
        <!--        &ndash;&gt;-->
    </appender>

    <appender name="CONSOLE_APPENDER_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE_APPENDER" />
    </appender>

    <logger name="eu.sia.pagopa" level="DEBUG" />
    <logger name="eu.sia.pagopa.input" level="INFO" />
    <logger name="eu.sia.pagopa.common.actor.HttpActorPerRequest" level="INFO" />
    <logger name="com.zaxxer.hikari.HikariConfig" level="INFO"/>
    <logger name="slick" level="INFO" />
    <logger name="slick.jdbc.DriverDataSource"              level="INFO" />
    <logger name="slick.jdbc.JdbcBackend.statement"         level="INFO" />
    <logger name="slick.jdbc.JdbcBackend.parameter"         level="INFO" />
    <logger name="slick.jdbc.JdbcBackend.benchmark"         level="INFO" />
    <logger name="slick.jdbc.StatementInvoker.result"       level="INFO" />
    <logger name="slick.compiler"                           level="INFO" />
    <logger name="slick.compiler.QueryCompilerBenchmark"    level="INFO" />
    <logger name="com.typesafe.sslconfig.ssl.ConfigSSLContextBuilder" level="ERROR" />

    <root level="INFO">
        <appender-ref ref="CONSOLE_APPENDER_ASYNC" />
    </root>

</configuration>

